Source: pidtree-bcc
Section: base
Priority: optional
Maintainer: Matt Carroll <mattc@yelp.com>
Build-Depends: dh-virtualenv

Package: pidtree-bcc
Architecture: amd64
Depends: ${pythonRuntime:Depends}, ${pythonBCC:Depends}
Description: eBPF based intrusion detection and audit logging
