#!/usr/bin/make -f
# -*- makefile -*-

# latest versions of setuptools are no longer compatible with python3.5,
# so it must be down-pinned for building on xenial
ifeq ($(shell (. /etc/os-release && dpkg --compare-versions $$VERSION_ID "lt" "18.04" && echo yes || echo no)), yes)
	preinstall_arg = --preinstall='setuptools<51.0.0'
	venv_pip = 20.3.4
else
	venv_pip = latest
endif

# for some $reason this prevents virtualenv to spit a bunch of errors
export VIRTUALENV_NO_PERIODIC_UPDATE = true

export DH_VIRTUALENV_INSTALL_ROOT = /opt/venvs

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	VIRTUALENV_PIP=$(venv_pip) dh_virtualenv --python python3 --use-system-packages --no-test $(preinstall_arg)
