Source: https://github.com/Yelp/pidtree-bcc
Package: pidtree-bcc
Version: 0.5
Section: base
Priority: optional
Architecture: amd64
Depends: python3:any (>= 3.5) llvm lsb-release python3-jinja2 python3-psutil python3-yaml bcc-tools python3-bpfcc
Build-Depends: dh-virtualenv
Maintainer: Matt Carroll <mattc@yelp.com>
Description: eBPF based intrusion detection and audit logging
